Q1. Create a list of five integers and print it

In [2]:
numbers = list([1, 2, 3, 4, 5])
print("my_list:",numbers)

my_list: [1, 2, 3, 4, 5]

### Q2. Write a program to find the length of a list.

In [3]:
my_list = [1, 2, 3, 4, 5]
print("length of my_list :",len(my_list))

length of my_list : 5

### Q3. Create a tuple with three elements and print the second item.

In [4]:
my_tuple = (4, 6, 12)
print("second item :", my_tuple[1])

second item : 6

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [5]:
my_dict = {"name": "Laila", "age": 20, "country": "Egypt"}
print(my_dict.keys())

dict_keys(['name', 'age', 'country'])

### Q5. Write a program to convert a list into a set.

In [6]:
my_list = [1, 2, 3, 2, 4, 1]
my_set = set(my_list)
print("Set:", my_set)

Set: {1, 2, 3, 4}

### Q6. Create a string and print its first and last characters.

In [7]:
my_string = "laila"
print("First character:", my_string[0])
print("Last character:", my_string[-1])

First character: l
Last character: a

### Q7. Take input from the user and print it.

In [8]:
input1 = input("Enter something: ")
print(" entered:", input1)

Enter something: laila
 entered: laila

### Q8. Write a program to add two numbers entered by the user.

In [9]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
total = num1 + num2
print("The sum is:", total)

Enter first number: 5
Enter second number: 4
The sum is: 9

### Q9. Use `type()` function to check the data type of a variable.

In [11]:
my_var = 50
print("The type:", type(my_var))

The type: <class 'int'>

### Q10. Create a boolean variable and print it.

In [12]:
 my_var= True
print("The value:", my_var)

The value: True

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [13]:
num = int(input("Enter a number: "))
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 5
The number is positive.

### Q12. Write a program to check if a number is even or odd.

In [14]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 4
The number is even.

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [15]:
for i in range(3):
    print("Laila")

Laila
Laila
Laila

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [16]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [17]:
my_list = [10, 20, 30, 40, 50]
for item in my_list:
    print(item)

10
20
30
40
50

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [19]:
total = 0
for i in range(1, 100):
    total += i
print("The sum from 1 to 100 is:", total)

The sum from 1 to 100 is: 4950

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [20]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [21]:
my_string = "Python"
for val in my_string:
    print(val)

P
y
t
h
o
n

### Q19. Use a `for` loop to print all values in a dictionary.

In [22]:
my_dict = {"name": "Laila","age": 22, "country": "Egypt"}
for value in my_dict.values():
    print(value)

Laila
22
Egypt

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [23]:
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print(f"The factorial of {num} is: {factorial}")

Enter a number: 4
The factorial of 4 is: 24

In [24]:
n = int(input("Enter a number: "))
f = 1
for i in range(1, n + 1):
    f *= i
print(f"Factorial = {f}")

Enter a number: 4
Factorial = 24

### Q21. Create a list of your 5 favorite fruits.

In [25]:
my_info = ["Laila", 22, "Egypt"]
print("My info list:", my_info)

My info list: ['Laila', 22, 'Egypt']

### Q22. Add a new fruit to your list of favorite fruits.

In [26]:
my_info = ["Laila", 22, "Egypt"]
my_info.append("Computer Engineering")
print("Updated personal info:", my_info)

Updated personal info: ['Laila', 22, 'Egypt', 'Computer Engineering']

### Q23. Remove the second item from a list.

In [ ]:
my_list = ["Laila", 22, "Egypt", "Computer Engineering"]
del my_list[1]
print("Updated list:", my_list)

### Q24. Sort a list of numbers in descending order.

In [27]:
numbers = [10, 5, 25, 3, 18]
numbers.sort(reverse=True)
print("Sorted in descending order:", n)

Sorted in descending order: 4

### Q25. Find the maximum and minimum values in a list.

In [ ]:
numbers = [10, 5, 25, 3, 18]
maximum = max(numbers)
minimum = min(numbers)
print("Maximum value:", maximum)
print("Minimum value:", minimum)

### Q26. Count how many times a value appears in a list.

In [28]:
numbers = [2, 4, 6, 2, 8, 2, 10]
count_2 = numbers.count(2)
print("The number 2 appears", count_2, "times.")

The number 2 appears 3 times.

### Q27. Check if a specific value exists in a list.

In [29]:
names = ["Laila", "Sara", "Mona", "Aya"]
if "Laila" in names:
    print("Yes, Laila is in the list.")
else:
    print("No, Laila is not in the list.")

Yes, Laila is in the list.

### Q28. Reverse a list without using reverse() function.

In [30]:
numbers = [1, 2, 3, 4, 5]
list1 = numbers[::-1]
print("Reversed list:",list1)

Reversed list: [5, 4, 3, 2, 1]

### Q29. Make a copy of a list and modify the copy only.

In [31]:
org_list = ["Laila", 22, "Egypt"]
list_copy = org_list.copy()
list_copy[1] = 23
print("Org list:", org_list)
print(" list_copy:", list_copy)

Org list: ['Laila', 22, 'Egypt']
 list_copy: ['Laila', 23, 'Egypt']

### Q30. Use slicing to get the first 3 items of a list.

In [33]:
my_list = ["Laila", 22, "Egypt", "Computer Engineering", "AI"]
three = my_list[:3]
print("First 3 items:", three)

First 3 items: ['Laila', 22, 'Egypt']

### Q31. Create a tuple with 4 elements and print its length.

In [34]:
my_tuple = ("Laila", 22, "Egypt", "AI")
print("Length of the tuple:", len(my_tuple))

Length of the tuple: 4

### Q32. Access the last element of a tuple.

In [37]:
my_tuple = ("Laila", 22, "Egypt", "AI")
last_item = my_tuple[-1]
print("The last element is:", last_item)

The last element is: AI

### Q33. Convert a tuple into a list.

In [38]:
my_tuple = ("Laila", 22, "Egypt")
my_list = list(my_tuple)
print("Converted list:", my_list)

Converted list: ['Laila', 22, 'Egypt']

### Q34. Convert a list into a tuple.

In [39]:
my_list = ["Laila", 22, "Egypt"]
my_tuple = tuple(my_list)
print("Converted tuple:", my_tuple)

Converted tuple: ('Laila', 22, 'Egypt')

### Q35. Check if a value exists in a tuple.

In [40]:
my_tuple = ("Laila", 22, "Egypt")
if "Egypt" in my_tuple:
    print("Yes, 'Egypt' exists in the tuple.")
else:
    print("No, 'Egypt' is not in the tuple.")

Yes, 'Egypt' exists in the tuple.

### Q36. Concatenate two tuples.

In [42]:
tuple1 = ("Laila", 22)
tuple2 = ("Egypt", "AI ")
combined = tuple1 + tuple2
print("Concatenated tuple:", combined)

Concatenated tuple: ('Laila', 22, 'Egypt', 'AI ')

### Q37. Repeat a tuple 3 times.

In [43]:
my_tuple = ("Laila", 22)
tuple1 = my_tuple * 3
print("Repeated tuple:", tuple1)

Repeated tuple: ('Laila', 22, 'Laila', 22, 'Laila', 22)

### Q38. Find the index of an element in a tuple.

In [44]:
my_tuple = ("Laila", 22, "Egypt", "AI Student")
index1 = my_tuple.index("Egypt")
print("Index of 'Egypt':", index1)

Index of 'Egypt': 2

### Q39. Use tuple unpacking to assign values to variables.

In [45]:
my_tuple = ("Laila", 22, "Egypt")
name, age, country = my_tuple
print("Name:", name)
print("Age:", age)
print("Country:", country)

Name: Laila
Age: 22
Country: Egypt

### Q40. Create a nested list and access an inner element.

In [48]:
nested = [["Laila", 22], ["Egypt", "AI"]]
print(nested[1][1])

AI

### Q41. Create a set of 5 unique colors.

In [49]:
colors = {"red", "red", "green", "yellow", "purple"}
print("Set of colors:", colors)

Set of colors: {'red', 'yellow', 'green', 'purple'}

### Q42. Add a new color to the set.

In [50]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.add("pink")
print("Updated colors set:", colors)

Updated colors set: {'blue', 'pink', 'red', 'purple', 'green', 'yellow'}

### Q43. Remove an item from the set using `remove()`.

In [51]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.remove("green")
print("Updated colors set:", colors)

Updated colors set: {'blue', 'red', 'purple', 'yellow'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [52]:
colors = {"red", "blue", "green", "yellow", "purple"}
colors.discard("orange") #الامر ده بيحذف الحاجه الموجوده و لو مش موجوده بيحذفها برضوا
colors.discard("blue")
print("Updated colors set:", colors)

Updated colors set: {'red', 'purple', 'green', 'yellow'}

### Q45. Create a set from a list with duplicate values.

In [54]:
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)
print("Set without duplicate:", my_set)

Set without duplicate: {1, 2, 3, 4, 5}

### Q46. Find the union of two sets.

In [55]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

### Q47. Find the intersection of two sets.

In [56]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection_set = set1.intersection(set2)
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {3, 4}

### Q48. Find the difference between two sets.

In [58]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 6}
difference_set = set1.difference(set2)
print("Difference is:", difference_set)

Difference is: {1, 2, 5}

### Q49. Check if a set is a subset of another set.

In [59]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2?", is_subset)

Is set1 a subset of set2? True

### Q50. Check if two sets are disjoint.

In [60]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)
print("Are the sets disjoint?", are_disjoint)

Are the sets disjoint? True

### Q51. Create a dictionary with 3 items: name, age, and city.

In [61]:
my_info = {"name": "Laila","age": 22,"city": "Cairo"}
print("My dictionary:", my_info)

My dictionary: {'name': 'Laila', 'age': 22, 'city': 'Cairo'}

### Q52. Add a new key-value pair to the dictionary.

In [62]:
my_info = {"name": "Laila", "age": 22, "city": "Cairo"}
my_info["student"] = "Computer Engineering"
print("Updated dictionary:", my_info)

Updated dictionary: {'name': 'Laila', 'age': 22, 'city': 'Cairo', 'student': 'Computer Engineering'}

### Q53. Update the value of an existing key in the dictionary.

In [64]:
my_info = { "name": "Laila","age": 22, "city": "Cairo"}
my_info["age"] = 20
print("Updated dictionary:", my_info)

Updated dictionary: {'name': 'Laila', 'age': 20, 'city': 'Cairo'}

### Q54. Remove a key from the dictionary using `pop()`.

In [65]:
my_info = { "name": "Laila", "age": 23, "city": "Cairo"}
removed_value = my_info.pop("city")
print("Removed value:", removed_value)
print("Updated dictionary:", my_info)

Removed value: Cairo
Updated dictionary: {'name': 'Laila', 'age': 23}

### Q55. Check if a key exists in the dictionary.

In [66]:
my_info = { "name": "Laila","age": 23,"city": "Cairo"}
if "age" in my_info:
    print("Yes, 'age' exists in the dictionary.")
else:
    print("No, 'age' does not exist.")

Yes, 'age' exists in the dictionary.

### Q56. Loop through a dictionary and print all keys and values.

In [68]:
my_info = { "name": "Laila","age": 20,"city": "Cairo"}
for key, value in my_info.items():
    print(key, ":", value)

name : Laila
age : 20
city : Cairo

### Q57. Get all keys from a dictionary using `keys()`.

In [69]:
my_info = { "name": "Laila", "age": 23, "city": "Cairo"}
keys = my_info.keys()
print("Keys:", keys)

Keys: dict_keys(['name', 'age', 'city'])

### Q58. Get all values from a dictionary using `values()`.

In [70]:

my_info = {"name": "Laila", "age": 20,"city": "Cairo"}
values = my_info.values()
print("Values:", values)

Values: dict_values(['Laila', 20, 'Cairo'])

### Q59. Get all key-value pairs using `items()`.

In [71]:
my_info = {"name": "Laila","age": 23,"city": "Cairo"}
items = my_info.items()
print("Key-value pairs:", items)

Key-value pairs: dict_items([('name', 'Laila'), ('age', 23), ('city', 'Cairo')])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [72]:
keys = ["name", "age", "city"]
values = ["Laila", 23, "Cairo"]
my_dict = dict(zip(keys, values))
print("Created dictionary:", my_dict)

Created dictionary: {'name': 'Laila', 'age': 23, 'city': 'Cairo'}

In [73]:
keys = ["name", "age", "city"]
values = ["Laila", 23, "Cairo"]
my_dict = {}
for i in range(len(keys)):
    my_dict[keys[i]] = values[i]
print("Created dictionary:", my_dict)

Created dictionary: {'name': 'Laila', 'age': 23, 'city': 'Cairo'}